
    


button:hover{
    background-color: maroon;}


    
    .myimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 20rem;
      }
button {
    background-color: brown;
    display: block;
margin:0 auto;
color: white;
border: none;
border-radius: 0.5rem;
}
div{
    margin: auto;
  width: 10%;
  border: 3px solid brown;
  padding: 10px;
  text-align: center;
}
.tomatoe{
    width: 50%;
}
.lettuce{
    width: 50%;
}
.apples{
    width: 50%;
}
nav{
    margin: auto;
  width: 10%;
  border: 3px solid brown;
  padding: 10px;
  text-align: center;
}
footer{
    margin: auto;
  width: 10%;
  border: 3px solid brown;
  padding: 10px;
  text-align: center;
}
    header{
        margin: auto;
  width: 10%;
  border: 3px solid brown;
  padding: 10px;
  text-align: center;
    }
    .banana{
        width: 50%;
    }
    .Pineapple{
        width: 50%;
    }
    .watermelon{
        width: 50%;
    }
hr{
    border-top: 10px brown solid;
}
.hr1{
    border-top: 10px red solid;
}
body{
    background-color: #ffffff;
}
